<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
 <%= link_to "MOTTINAI", "/", class: "top-title"%>

  <div class='nav'>
    <% if exhibition_signed_in? && !customer_signed_in? %>
      <ul class='lists-left'>
        <li>
        
          <%= link_to current_exhibition.company_name, "/exhibitions/#{current_exhibition.id}", class: "login-ex"%>
          
        </li>
        
        <li>
          <%= link_to 'ログアウト', destroy_exhibition_session_path, method: :delete, class: "sign-up-ex"  %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to 'ログイン', new_customer_session_path, class: "login" %>
        </li>
        <li>
          <%= link_to '新規登録', new_customer_registration_path, class: "sign-up" %>
        </li>
      </ul>

    <% elsif !exhibition_signed_in? && customer_signed_in? %>
      <ul class='lists-left'>
        <li>
          <%= link_to 'ログイン(EX)', new_exhibition_session_path, class: "login-ex" %>
        </li>
        <li>
          <%= link_to '新規登録(EX)', new_exhibition_registration_path, class: "sign-up-ex" %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to current_customer.nickname, "#", class: "user-nickname"%>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "logout" %>
        </li> 
      </ul>

    <% else %>
      <ul class='lists-left'>
        <li>
          <%= link_to 'ログイン(EX)', new_exhibition_session_path, class: "login-ex" %>
        </li>
        <li>
          <%= link_to '新規登録(EX)', new_exhibition_registration_path, class: "sign-up-ex" %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to 'ログイン', new_customer_session_path, class: "login" %>
        </li>
        <li>
          <%= link_to '新規登録', new_customer_registration_path, class: "sign-up" %>
        </li>
      </ul>
    <% end %>
  </div>
</header>