<header class='top-page-header'>
<% if exhibition_signed_in? && !customer_signed_in? %>
  <a href="/items/new" >
    <div class='purchase-btn'>
      <span class='purchase-btn-text'>出品する</span>
        <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </div>
  </a>
<% end %>
  <h2 class='service-title'>
    <%= @exhibition.company_name %>
  </h2>
  <div class='nav'>
    <% if exhibition_signed_in? && !customer_signed_in? %>
      <ul class='lists-left'>
        <li>
          <%= link_to 'TOPへ戻る', "/", class: "login-ex"%>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_exhibition_session_path, method: :delete, class: "sign-up-ex"  %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to 'ログイン', new_customer_session_path, class: "login" %>
        </li>
        <li>
          <%= link_to '新規登録', new_customer_registration_path, class: "sign-up" %>
        </li>
      </ul>

    <% elsif !exhibition_signed_in? && customer_signed_in? %>
      <ul class='lists-left'>
        <li>
          <%= link_to 'ログイン(EX)', new_exhibition_session_path, class: "login-ex" %>
        </li>
        <li>
          <%= link_to '新規登録(EX)', new_exhibition_registration_path, class: "sign-up-ex" %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to current_customer.nickname, "#", class: "user-nickname"%>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "logout" %>
        </li> 
      </ul>

    <% else %>
      <ul class='lists-left'>
        <li>
          <%= link_to 'ログイン(EX)', new_exhibition_session_path, class: "login-ex" %>
        </li>
        <li>
          <%= link_to '新規登録(EX)', new_exhibition_registration_path, class: "sign-up-ex" %>
        </li>
      </ul>
      <ul class='lists-right'>
        <li>
          <%= link_to 'ログイン', new_customer_session_path, class: "login" %>
        </li>
        <li>
          <%= link_to '新規登録', new_customer_registration_path, class: "sign-up" %>
        </li>
      </ul>
    <% end %>
  </div>
</header>