<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「もったいないをなくす」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      もったいないをなくす
    </h2>
    <p class='service-explain-mein'>
      『まだ食べれるのに、、、』
    </p>
    <p class='service-explain'>
      「在庫はあるのに賞味期限間近だから販売できない、、、」
    </p>
    <p class='service-explain'>
      「袋に穴空いたけどすぐテープで塞いだのにな、、、」
    </p>
    <p class='service-explain'>
      「この捨てている時間はなんなのだろうか、、、」
    </p>
    <p class='service-explain'>
      そう思ったお店とお客さまを結び合わせる
    </p>
    <p class='service-explain'>
      そんなアプリです
    </p>
  </div>
  <%# //画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# MOTTAINAIが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      MOTTAINAIで食資源を大切にしよう
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "food_syokuhin_haikibutsu.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>643万t</span>
          日本の食品年間ロス
        </h3>
        <p class='reason-list-description'>
          アプリを使い資源を大切に使おう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "amabie_reji.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>お店</span>
          のムリ・ムダ・ムラ軽減！
        </h3>
        <p class='reason-list-description'>
          簡単投稿で時間も節約できます！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "nefuda_yasui.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>お客様</span>
          スペシャルプライスでご購入
        </h3>
      </li>
    </ul>
  </div>
  <%# //MOTTAINAIが選ばれる3つの理由部分 %>

  <%# 画面中央の「日本の食品年間ロス」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      物が溢れる時代
    </h2>
    <p class='ad-explain'>
      企業系の年間食品廃棄は1970万t、その内まだ食べれる分は352万t
    </p>
    <p class='ad-explain'>
      家庭での年間食品廃棄は789万t、その内まだ食べれる分は291万tもあります
    </p>
    <p class='ad-explain'>
      正しい消費社会を目指そう！！
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# //画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      近隣MAP
    </h2>
    <%#<ul class='feature-lists'>%>
    <!-- 地名入力用のinputを追加 -->

    <input id="address" type="textbox" value="" >

    <!-- buttonをクリックしたらcodeAddressを実行-->
    <input type="button" value="検索" onclick="codeAddress()">
    <div id='map'></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAP_API_KEY']%>&callback=initMap" async defer></script>

    <%#</ul>%>
  </div>
  <%# //FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品',"#" , class: "subtitle" %>
    <ul class='item-lists'>
      <% if  @items.present? %> 
        <% @items.each do |item| %>
          <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
              <div class='item-img-content'>
                <%= image_tag item.image, class: "item-img" if item.image.attached? %>

                <%# 商品が売れていればsold outの表示 %>
                <% if item.purchase.present? %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
                <%# //商品が売れていればsold outの表示 %>

              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <span class='star-count'><%= item.exhibition.city%></span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <%end%>
          <%# 商品がない場合のダミー %>
      <% else %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "sample.png", class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                まだ出品されていません
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <span class='star-count'>住所</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
              <%# //商品がない場合のダミー %>
    </ul>
  </div>
  <%# //商品一覧 %>
</div>
<% if exhibition_signed_in? && !customer_signed_in? %>
  <a href="/items/new" >
    <div class='purchase-btn'>
      <span class='purchase-btn-text'>出品する</span>
        <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </div>
  </a>
<% end %>

<%= render "shared/footer" %>